.DS_Store
# Job bundle samples use directories called 'output' for the job output
# and 'workspace' for inter-step communication and output.
**/output/
**/workspace/

**/*.tar.xz
**/*.tar.gz
**/*.tgz
**/*.zip
**/*.exe
**/*.run

