.DS_Store
# Job bundle samples use directories called 'output' for the job output
# and 'workspace' for inter-step communication and output.
**/output/
**/workspace/

# The V-Ray source files do not have an extension to distinguish them
conda_recipes/archive_files/vraystd_*

**/*.tar.xz
**/*.tar.gz
**/*.tgz
**/*.zip
**/*.exe
**/*.run

